.settings .settings__file input + label,
.settings input,
.settings button {
  padding: 5px;
  border: 1px solid gray;
  background: transparent;
  border-radius: 0;
  color: black;
}
.settings .settings__file input + label:hover,
.settings .settings__file input + label:focus,
.settings input:hover,
.settings input:focus,
.settings button:hover,
.settings button:focus {
  cursor: pointer;
  background-image: linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
  box-shadow: none;
}
.settings input[type="checkbox"] {
  padding: 0px;
}

.settings__item {
  margin-bottom: 10px;
}

.settings__file {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__file > div {
  display: flex;
}
.settings__file input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

footer {
  text-align: center;
  margin-top: 20px;
}
